{% extends 'layout.html' %}
{% block content %}
<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2">
        <!-- Dropdown for Table Selection -->
        <div id="countryDropdownPlaceholder"></div>
        </select>
        <div class="card-body">
            <div class="chart-container" style="position: relative;" id="chartContainer">
                <canvas id="countries_vs_world_cup_wins"></canvas>
            </div>
            <div class="chart-container" style="position: relative;" id="numberchart">
                <canvas id="countries_vs_world_cup_wins"></canvas>
            </div>
        </div>
    </div>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- chart.js CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
    integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Document</title>
</head>

{% block javascript %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Your existing chart code...

        var winnerCounts = {{ winnter_counts | tojson }};
        var countries = winnerCounts.map(function(item) { return item[0]; });
        var counts = winnerCounts.map(function(item) { return item[1]; });

        function initializeChart() {
            var ctx = document.getElementById('countries_vs_world_cup_wins').getContext('2d');
            var countries_vs_world_cup_wins_chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: countries,
                    datasets: [{
                        label: '# of Wins',
                        data: counts,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        // Get references to the chart container and the dropdown
        var chartContainer = document.getElementById('chartContainer');
        var numberchart = document.getElementById('numberchart')

        function displayCountryInfo(selectedCountry) {
            numberchart.innerHTML = ''; // Clear the chart or any existing info
            if (selectedCountry) {
                getCountryInfo(selectedCountry).then(data => {
                    var countryInfo = document.createElement('div');
                    countryInfo.innerHTML = `
                        ${selectedCountry}: World Cup Wins - ${data.totalworldWins},
                        Matches - ${data.totalMatches},
                        Win matches - ${data.totalWins}
                        Win Rate - ${data.winRate}%
                    `;
                    numberchart.appendChild(countryInfo);
                }).catch(error => console.error('Error:', error));
            }
        }


        function getCountryInfo(country) {
            return fetch('/get_country_data/' + country)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .catch(error => console.error('Error:', error));
        }
                
        initializeChart();
        createCountryDropdown(countries);

        function createCountryDropdown(countries) {
            var placeholder = document.getElementById('countryDropdownPlaceholder');
            clearCountryDropdown(); // Clear existing dropdown if any

            var select = document.createElement('select');
            select.id = 'countrySelector';
            countries.forEach(function(country) {
                var option = document.createElement('option');
                option.value = country;
                option.textContent = country;
                select.appendChild(option);
            });

            select.addEventListener('change', function() {
                displayCountryInfo(this.value); // Call displayCountryInfo for the selected country
            });

            placeholder.appendChild(select);
        }

        function clearCountryDropdown() {
                var placeholder = document.getElementById('countryDropdownPlaceholder');
                placeholder.innerHTML = ''; // Clear the placeholder content
            }
    });


</script>

{% endblock%}

{% endblock %}